<div data-bb-type="screen" data-bb-scroll-effect="off">

<!--	<div id = "images">
		<img src="1.jpg" width  ="100%" height = "42%"/>
	</div>-->
	<div id ="texta">
		<img src="story/1.jpg" width = "100%" height = "100%"/>
	</div>
	<div data-bb-type="action-bar" data-bb-back-caption="Exit">
		<div data-bb-type="action" data-bb-style="button" data-bb-img="icons/icon19.png" data-bb-overflow= "true" onclick="takeleftroad();" >Opt 1</div>
		<div data-bb-type="action" data-bb-style="button" data-bb-img="icons/icon11.png" data-bb-overflow= "true" onclick="takerightroad();" >Opt 2</div>
	</div>

</div>