<div data-bb-type="screen" data-bb-scroll-effect="off">
	<div id ="texta">
		<img src="story/thankyou.jpg" width = "100%" height = "100%"/>
	</div>
	<div data-bb-type="action-bar" data-bb-back-caption="Exit">
		<div data-bb-type="action" data-bb-style="button" data-bb-img="icons/again.png" data-bb-overflow= "false" onclick="play();">Play Again</div>
	</div>

</div>